@use "global" as *;

.about-us {
  position: relative;
}

.about-us::after {
  @include mq("md") {
    content: "";
    position: absolute;
    bottom: rem(-92);
    right: calc(50% - min(48vw, rem(637)));
    width: 13.472222%;
    max-width: rem(194);
    aspect-ratio: 194 / 181;
    background-image: url(./../images/common/coralReef-img.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.about-us__content {
  position: relative;
}

.about-us__content-wrap {
  position: relative;
  width: 100%;
  aspect-ratio: 345 / 212;
  margin-top: rem(26);
  @include mq("md") {
    margin-top: rem(38);
    aspect-ratio: 1080 / 661;
  }
}

.about-us__img01 {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(128 / 345 * 100%);
  max-width: 100%;
  @include mq("md") {
    max-width: rem(400);
  }
}

.about-us__img01 img {
  aspect-ratio: 128 / 194;
  width: 100%;
  object-fit: cover;
  @include mq("md") {
    aspect-ratio: 400 / 606;
  }
}

.about-us__img02 {
  z-index: -1;
  position: absolute;
  width: calc(281 / 345 * 100%);
  bottom: 0;
  right: 0;
  max-width: 100%;
  @include mq("md") {
    max-width: rem(880);
  }
}

.about-us__img02 img {
  aspect-ratio: 281 / 186;
  width: 100%;
  object-fit: cover;
  @include mq("md") {
    aspect-ratio: 880 / 581;
  }
}

.about-us__text-content {
  margin-top: rem(40);
  @include mq("md") {
    display: flex;
    position: absolute;
    top: 50.3%;
    left: 50.3%;
    transform: translate(-41%, -55%);
    max-width: 840px;
    width: 77.7%;
    margin-top: 0;
  }
}

.about-us__main-text {
  font-size: rem(40);
  line-height: 1;
  color: $green;
  font-family: $base-font-family-en;
  @include mq("md") {
    font-size: rem(80);
    line-height: calc(100 / 80);
    color: $white;
  }
}

.about-us__text-wrap {
  @include mq("md") {
    margin-left: rem(40);
  }
}

.about-us__description {
  margin-top: rem(19);
  font-size: rem(16);
  line-height: calc(24 / 16);
  color: $black1;
  @include mq("md") {
    color: $white;
    max-width: 400px;
    width: 100%;
    margin-top: 0;
  }
}

.about-us__btn-wrap {
  margin-top: rem(48);
  text-align: center;
  @include mq("md") {
    margin-top: rem(40);
  }
}
