@use "global" as *;

.blog-list {
  display: grid;
  gap: rem(40);
  grid-template-columns: repeat(1, 1fr);
  width: 96.522%;
  @include mq("md") {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
}
