@use "global" as *;

.blog-list {
  display: grid;
  gap: rem(40);
  grid-template-columns: repeat(1, 1fr);
  margin: rem(27) auto 0;
  width: 96.522%;
  @include mq("md") {
    grid-template-columns: repeat(3, 1fr);
    margin: rem(78) auto 0;
    max-width: rem(1079);
    width: 100%;
  }
}

.blog-list__item a {
  display: block;
  height: 100%;
  box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, 0.25);
  background-color: $white;
}

.blog-list__item-img {
  width: 100%;
  padding: rem(16) rem(16) 0;
}

.blog-list__item-img img {
  width: 100%;
  aspect-ratio: 301 / 201;
  object-fit: cover;
}

.blog-list__item-content {
  padding: rem(20) rem(16) rem(21);
}

.blog-list__item-date {
  font-size: rem(12);
  line-height: calc(18 / 12);
  color: $black1;
}

.blog-list__item-title {
  font-size: rem(16);
  line-height: calc(24 / 16);
  color: $black1;
  border-bottom: rem(1) solid $green;
  font-weight: $medium;
  padding-bottom: rem(1);
}

.blog-list__item-text {
  margin-top: rem(19);
  font-size: rem(16);
  line-height: calc(24 / 16);
  color: $black1;
  @include mq("md") {
    margin-top: rem(18);
  }
}

.blog__btn-wrap {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: rem(40);
  transform: translate(rem(-1), rem(-1));
  @include mq("md") {
    margin-top: rem(80);
    transform: translate(rem(-3), rem(0.5));
  }
}
