@use "global" as *;

.campaign-card {
  padding-top: rem(27);
  padding-bottom: rem(40);
  flex: 0 0 auto;
  width: 100%;
  max-width: rem(280);
  height: auto;
  @include mq("md") {
    padding-top: 0;
    padding-bottom: rem(80);
    max-width: rem(333);
  }
}

.campaign-card:hover .campaign-card__img {
  opacity: 0.7;
}

.campaign-card a {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, 0.25);
}

.campaign-card__img {
  width: 100%;
  overflow: hidden;
  transition: 0.3s;
}

.campaign-card__img img {
  width: 100%;
  aspect-ratio: 280 / 188;
  object-fit: cover;
}

.campaign-card__content {
  padding: rem(16) rem(16) rem(20.5) rem(16);
  @include mq("md") {
    padding: rem(23) rem(17) rem(36.422) rem(16);
  }
}

.campaign-card__category {
  padding: rem(5) rem(10) rem(1) rem(11);
  font-size: rem(12);
  color: $green;
  line-height: calc(22 / 12);
  border: rem(1) solid $green;
  min-width: rem(108);
  width: fit-content;
  @include mq("md") {
    padding: rem(7) rem(15) rem(4) rem(15);
  }
}

.campaign-card__title {
  position: relative;
  margin-top: rem(7);
  font-size: rem(16);
  line-height: calc(24 / 16);
  font-weight: $medium;
  color: $black1;
  @include mq("md") {
    margin-top: rem(6);
  }
}
.campaign-card__title::before {
  display: inline-block;
  content: "";
  position: absolute;
  bottom: rem(-5.5);
  left: 0;
  width: 100%;
  height: rem(1);
  background-color: $green;
  border-radius: rem(1);
  @include mq("md") {
    bottom: rem(-6);
  }
}

.campaign-card__description {
  margin-top: rem(15);
  @include mq("md") {
    margin-top: initial;
    padding: rem(22) rem(15) 0 rem(19);
  }
}

.campaign-card__description-text {
  font-size: rem(14);
  line-height: calc(24 / 14);
  color: $black1;
  text-align: center;
  @include mq("md") {
    font-size: rem(16);
    line-height: calc(24 / 16);
    font-family: "Noto Sans JP", serif;
  }
}

.campaign-card__price {
  margin-top: rem(6);
  text-align: center;
  @include mq("md") {
    margin-top: rem(7);
  }
}

.campaign-card__price-original {
  position: relative;
  font-size: rem(20);
  line-height: 1;
  color: $black1;
  font-weight: $bold;
  font-family: "Lato", sans-serif;
  padding: 0 rem(1.5) 0 0;
  @include mq("md") {
    font-size: rem(24);
    padding: 0 rem(1.5) 0 0;
  }
}
.campaign-card__price-original::before {
  display: inline-block;
  content: "";
  position: absolute;
  bottom: rem(11);
  left: 0;
  width: 100%;
  height: rem(3);
  background-color: $red;
  @include mq("md") {
    bottom: rem(12.8);
  }
}

.campaign-card__price-discounted {
  margin-left: rem(12);
  font-size: rem(32);
  line-height: 1;
  color: $green;
  font-weight: $bold;
  font-family: "Lato", sans-serif;
  @include mq("md") {
    font-size: rem(40);
    margin-left: rem(21);
  }
}
