@use "global" as *;

.campaign {
  overflow-x: hidden;
}

.campaign__inner {
  @include mq("md") {
    position: relative;
  }
}

.campaign__swiper {
  margin-right: calc(50% - 50vw);
  width: 100vw;
  @include mq("md") {
    margin-top: rem(38);
  }
}

.campaign__btn-wrap {
  text-align: center;
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(80);
  }
}
