@use "global" as *;

.common-title {
  text-align: center;
}

.common-title__main {
  font-size: rem(32);
  line-height: calc(40 / 32);
  font-weight: $normal;
  color: $black1;
  @include mq("md") {
    font-size: rem(40);
    line-height: 1;
  }
}

.common-title__main:first-letter {
  color: $green;
}

.common-title__sub {
  font-size: rem(12);
  line-height: calc(18 / 12);
  color: $green;
  margin-top: rem(5);
  @include mq("md") {
    margin-top: rem(10);
  }
}

.common-title__main.common-title__main--white:first-letter {
  @include mq("md") {
    color: $blue;
  }
}

.common-title__main.common-title__main--white,
.common-title__sub.common-title__sub--white {
  @include mq("md") {
    color: $white;
  }
}

.common-title__main.common-title__main--big {
  font-size: rem(80);
  line-height: 1;
}

.common-title__sub.common-title__sub--mt {
  margin-top:  rem(-5);
}

.common-title__link {
  font-size: rem(14);
  line-height: calc(18 / 14);
  color: $green;
  margin-top: rem(8);
  display: block;
}
