@use "global" as *;

.contact {
  position: relative;
}

.contact::before {
  content: "";
    position: absolute;
    top: rem(54);
    right: rem(15);
    width: 29.067%;
    aspect-ratio: 109 / 50;
    background-image: url(./../images/common/fish-left-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  @include mq("md") {
    top: rem(100);
    right: rem(50);
    width: 20.903%;
    aspect-ratio: 301 / 138;
  }
}

.contact__wrap {
  filter: drop-shadow(0 rem(4) rem(4) rgba(0, 0, 0, 0.25));
  @include mq("md") {
    filter: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, 0.25);
    padding: rem(80) rem(50);
  }
}

.contact-title__wrap {
  margin: rem(40) rem(15) 0;
  @include mq("md") {
    margin-left: rem(82);
    flex: 1;
    border-left: rem(1) solid $green;
    margin-top: initial;
    margin-right: initial;
    padding: rem(18.5) 0 rem(18.5) rem(17);
  }
}

.contact__btn-wrap {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: rem(38);
  transform: translate(rem(-1), rem(1));
  @include mq("md") {
    margin-top: rem(40);
    transform: translate(rem(-2), rem(-1));
  }
}
