@use "global" as *;

.drawer-menu {
  display: none;
  position: fixed;
  z-index: 800;
  top: rem(80);
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - rem(80));
  padding: rem(24) 0 rem(50);
  background-color: $green;
  overflow-y: scroll;
  scrollbar-width: none;
}

.drawer-menu::-webkit-scrollbar {
  display: none;
}

.drawer-menu__inner.inner {
  max-width: rem(400);
}

.drawer-menu__wrapper {
  display: flex;
}

.drawer-menu__body {
  display: flex;
  flex-direction: column;
  gap: rem(40);
  flex: 1;
}

.drawer-menu__items {
  display: flex;
  flex-direction: column;
  gap: rem(40);
}

.drawer-menu__sub-items {
  display: flex;
  flex-direction: column;
  gap: rem(17);
}

.drawer-menu__item {
  position: relative;
  padding-left: rem(22);
  display: flex;
  flex-direction: column;
  gap: rem(21);
}

.drawer-menu__item::before {
  position: absolute;
  top: rem(-3);
  left: 0;
  content: "";
  width: rem(18);
  height: rem(18);
  background-image: url(./../images/common/icon.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.drawer-menu__link {
  font-size: rem(16);
  font-weight: $bold;
  color: $white;
  line-height: calc(18 / 16);
  display: block;
}

.drawer-menu__sub-link {
  font-size: rem(16);
  line-height: calc(18 / 16);
  color: $white;
}

.drawer-menu__link,
.drawer-menu__sub-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
