@use "global" as *;

.footer {
  background-color: $green;
}

.footer__inner.inner {
  max-width: rem(400);
  @include mq("md") {
    max-width: rem(1130);
  }
}

.footer__heading {
  @include mq("md") {
    display: flex;
  }
}

.footer__logo {
  max-width: rem(120);
  width: 100%;
  @include mq("md") {
    max-width: rem(200);
  }
}

.footer__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer__social {
  display: flex;
  gap: rem(16);
  margin-top: rem(16);
  @include mq("md") {
    align-items: flex-end;
    margin-top: initial;
    margin-left: rem(40);
    padding-bottom: rem(5);
  }
}

.footer__social img {
  width: rem(24);
  height: rem(24);
  @include mq("md") {
    width: rem(32);
    height: rem(32);
  }
}

.footer__wrapper {
  display: flex;
  margin-top: rem(43);
  gap: 0 rem(18);
  @include mq("md") {
    margin-top: rem(26);
    gap: 0 rem(32);
  }
}

.footer__body {
  display: flex;
  flex-direction: column;
  gap: rem(37);
  flex: 1;
  @include mq("md") {
    flex-direction: initial;
    gap: rem(120);
  }
}

.footer__items {
  display: flex;
  flex-direction: column;
  gap: rem(40);
}

.footer__sub-items {
  display: flex;
  flex-direction: column;
  gap: rem(18);
}

.footer__item {
  position: relative;
  padding-left: rem(22);
  display: flex;
  flex-direction: column;
  gap: rem(20);
}

.footer__item::before {
  position: absolute;
  top: rem(-3);
  left: 0;
  content: "";
  width: rem(18);
  height: rem(18);
  background-image: url(./../images/common/icon.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__link {
  font-size: rem(16);
  font-weight: $bold;
  color: $white;
  line-height: calc(18 / 16);
  display: block;
}

.footer__sub-link {
  font-size: rem(16);
  line-height: calc(18 / 16);
  color: $white;
}

.footer__link,
.footer__sub-link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer__copyright {
  font-size: rem(12);
  line-height: 1;
  color: $white;
  text-align: center;
  white-space: nowrap;
  margin-top: rem(40);
  display: block;
  @include mq("md") {
    font-size: rem(14);
    line-height: calc(18 / 14);
    margin-top: rem(77);
  }
}
