@use "global" as *;

.mv {
  position: relative;
  z-index: 1;
  height: 100vh;
  min-height: 25rem;
}

.mv__inner {
  height: inherit;
  min-height: inherit;
}

.mv__content {
  position: absolute;
  top: 49.4%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
  @include mq("md") {
    top: 50%;
    left: 50.1%;
    transform: translate(-50%, -50%);
  }
}

.mv__title {
  font-size: rem(40);
  color: $white;
  letter-spacing: 0.54em;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  text-indent: 0.54em;
  @include mq("md") {
    font-size: rem(80);
    line-height: calc(100 / 80);
  }
}

.mv__sub-title {
  font-size: rem(20);
  color: $white;
  margin-top: rem(-5);
  font-family: $base-font-family-en;
  @include mq("md") {
    margin-top: rem(3);
  }
}

.mv__swiper {
  height: inherit;
}

.mv__swiper,
.swiper-slide picture,
.swiper-slide img {
  height: inherit;
  min-height: inherit;
}

.swiper-slide img {
  object-fit: cover;
}
