@use "global" as *;

.price-content__table {
  border-collapse: collapse;
}

.price-content__table:not(:first-child) {
  margin-top: rem(37);
}

.price-content__table .custom-padding td {
  padding-top: rem(8);
  padding-bottom: rem(4);
}

.price-content__table th {
  font-size: rem(16);
  font-weight: $bold;
  color: $black1;
  text-align: left;
  border-bottom: 1px solid $green;
  line-height: calc(24 / 16);
}

.price-content__table td {
  font-size: rem(14);
  line-height: calc(24 / 14);
  color: $black1;
  font-family: "Noto Sans JP", serif;
  width: 100%;
  padding: rem(4) 0;
  @include mq("md") {
    font-size: rem(16);
    line-height: calc(24 / 16);
    padding: rem(4) 0 rem(4) rem(4);
  }
}

.price-content__price {
  text-align: right;
}