@use "global" as *;

.voice-list {
  margin: rem(42) auto 0;
  display: grid;
  gap: rem(40);
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  @include mq("md") {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  @include mq(md) {
    margin: rem(28) auto 0;
  }
}

.voice-list__item:hover .voice-list__item-img {
  opacity: 0.7;
}

.voice-list__item a {
  box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, 0.25);
  display: block;
  height: 100%;
  padding: rem(15) rem(16) rem(21);
  @include mq("md") {
    padding: rem(24) rem(24) rem(21);
  }
}

.voice-list__header {
  display: flex;
  align-items: flex-end;
}

.voice-list__wrap {
  width: 100%;
  @include mq("md") {
    max-width: 276px;
    width: 100%;
  }
}

.voice-list__info {
  @include mq("md") {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.voice-list__age {
  font-size: rem(12);
  line-height: calc(18 / 12);
  color: $black1;
  font-family: "Noto Sans JP", serif;
}

.voice-list__category {
  font-size: rem(12);
  line-height: calc(22 / 12);
  color: $green;
  border: rem(1) solid $green;
  padding: rem(5) rem(10) rem(2) rem(11);
  width: fit-content;
  min-width: rem(108);
  @include mq("md") {
    padding: rem(6) rem(16) rem(4) rem(14);
  }
}

.voice-list__title {
  font-size: rem(16);
  font-weight: $medium;
  color: $black1;
  border-bottom: rem(1) solid $green;
  padding-top: rem(4);
  @include mq("md") {
    font-size: rem(24);
    padding-top: rem(12);
    line-height: 1.43;
  }
}

.voice-list__item-img {
  margin-left: rem(13);
  width: 100%;
  transition: 0.3s;
  @include mq("md") {
    margin-left: rem(16);
    width: 64.6%;
  }
}

.voice-list__item-img img {
  width: 100%;
  aspect-ratio: 151 / 117;
  object-fit: cover;
  @include mq("md") {
    aspect-ratio: 180 / 140;
  }
}

.voice-list__content {
  font-size: rem(16);
  line-height: calc(24 / 16);
  color: $black1;
  padding-top: rem(18);
  @include mq("md") {
    padding-top: rem(43);
  }
}
